<html>
<head>
	<title>{{#if title}}{{title}}{{else}}Default Title{{/if}}</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>
	<div id="body-frame">
		{{{contents}}}
	</div>
</body>
</html>